<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>index</h1>
    <form action="/submit" method="post">
        your name: <input type="text" name="name"><br>
        dojo location: <select name="location">
            <option value="New York">New York</option>
            <option value="Texas">Texas</option>
            <option value="DC">DC</option>
            <option value="Seattle">Seattle</option>
        </select><br>
        favorite language:
        <select name="language">
            <option value="Swift">Swift</option>
            <option value="Java">Java</option>
            <option value="Python">Python</option>
            <option value="MEAN">MEAN</option>
        </select><br>
        comment:<br> <textarea name="comment" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="submit">
    </form>
</body>
</html>