<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    post
    <p>Name: <%= info.name %></p>
    <p>Location: <%= info.location %></p>
    <p>Favorite Language: <%= info.language %></p>
    <p>Comment: <%= info.comment %></p>
</body>
</html>