<form (submit)="update()">
  <div class="form-row">
    <div class="col">
      <label for="Title">Title</label>
      <input class="form-control form-control-sm" type="text" name="title" [(ngModel)]="userEdit.title">
    </div>
    <div class="col"> 
      <label for="subTitle">Subtitle</label> 
      <input type="text" class="form-control form-control-sm" name="subTitle" [(ngModel)]="userEdit.subTitle">
    </div>
  </div>
  
  <div class="form-row">
    <div class="col">  
      <input class="form-control form-control-sm" type="text" name="leftG" [(ngModel)]="userEdit.leftG">
      <label ><small>rgba left</small></label>
    </div>
    <div class="col">
      <input class="form-control form-control-sm" type="text" name="rightG" [(ngModel)]="userEdit.rightG">
      <label ><small>rgba right</small></label>      
    </div>
  </div>
  
  <div class="form-group">
    <select class="form-control form-control-sm" name="backgroud" [(ngModel)]="userEdit.headerImg">
      <option *ngFor="let image of images" value="{{image.src}}">{{image.name}}</option>
    </select>
  </div>

    <input class="btn btn-primary" type="submit" value="update">  
  
</form>