<div id="header" class="card text-center" [ngStyle]="{'background-image': 'linear-gradient(to right bottom, rgba(' + currentUser.leftG + '), rgba(' + currentUser.rightG + ')), url(' + currentUser.headerImg + ')'}" >
  <div class="card-body">
    <h1>{{currentUser.title}}</h1>
    
  </div>  
  <button class="btn btn-info" (click)="currentUser.editable = !currentUser.editable">Edit</button>
  <app-header-edit [currentUser]="currentUser" [images]="images" (updateUserEvent)="update($event)" *ngIf="currentUser.editable"></app-header-edit>
</div>
