<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    
    <form action="/users" method="post">
        first name: <input type="text" name="first_name"><br>
        last name: <input type="text" name="last_name"><br>
        age: <input type="number" name="age"><br>
        email <input type="text" name="email"><br>
        <input type="submit" value="submit">
    </form>

    <table>
        <tr>
            <th>first name</th>
            <th>last name</th>
            <th>age</th>
            <th>email</th>
        </tr>
        <% for(let x in users){ %>
            <tr>
                <td>
                <%= users[x].first_name %>,
                </td>
                <td>
                <%= users[x].last_name %>,
                </td>
                <td>
                <%= users[x].age %>
                </td>
                <td>
                <%= users[x].email %>,
                </td>
        <br>
            </tr>        
        <% } %>
    </table>
    
</body>
</html>