<div class="row">
  <div class="col-lg-3 col-md-6" *ngFor="let stack of currentUser._skill">
    <div class="card">
      <img class="card-img-top img-fluid" src="{{stack.img}}" alt="some image">
      <div class="card-body">
        <h5 class="card-title">{{stack.title}}</h5>
        <p class="card-text">{{stack.subTitle}}</p>
      </div>
      <div class="card-footer">
        <button (click)="deleteStack(stack._id)">X</button>
        <button (click)="stack.editable = !stack.editable"><small>edit</small></button>
      </div>
    </div>
    <app-stack-edit [stack]="stack" (updateStackEvent)="updateStack($event)" *ngIf="stack.editable"></app-stack-edit>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
          <form (submit)="createStack()">
            <div class="form-group">
              <select class="form-control form-control-sm" name="img" [(ngModel)]="newStack.img">
                <option *ngFor="let image of images" value="{{image.src}}">{{image.name}}</option>
              </select>
            </div>
            <input type="text" name="title" [(ngModel)]="newStack.title" placeholder="Title">
            <input type="text" name="subTitle" [(ngModel)]="newStack.subTitle" placeholder="Sub Title">
            <input type="text" name="description" [(ngModel)]="newStack.description" placeholder="description">
            <input class="btn btn-success" type="submit" value="create">    
          </form>
      </div>
    </div>
  </div>
</div>

