
  <form (submit)="uploadImg()">
    <image-upload buttonCaption="Add a Image" dropBoxMessage="10Mb Limit" [max]="1" [maxFileSize]="1000000000" (uploadFinished)="onUploadStatus($event)"></image-upload>
    <input class="btn btn-info btn-block" type="submit" value="upload">
  </form>

  <div class="card"  *ngFor="let img of images">
    <img class="card-img-top img-fluid" src="{{img.src}}" alt="{{img.name}}">
    <div class="card-body">
      <button class="btn btn-danger btn-block" (click)='deleteImg(img._id)'>Delete</button>
    </div>
  </div>




